body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

.resume {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: black;
}

.title {
    color: red;
}
